label#seasonDropdownLabel {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 20px;
}

select#seasonDropdown {
    border-radius: 8px; /* Adjust for more or less rounding */
    border: 1px solid #fff;
    font-size: 18px;
}